.createuserform{
    display:flex;
    flex-direction:row;
    /* margin-left:40px; */
    /* width:600px; */
    justify-content:center;

    
}
.form-field{
    max-width:500px;
    display:flex;
    flex-direction:column;
    margin-bottom:20px
    /* align-items:center; */
    /* justify-content:center */
    
}
.detail1{
    margin-right: 40px;
    width:500px;
    margin-bottom:100px;
    border:solid 1px;
    padding:20px;
    margin:20px
}