

.mainprice{
    /* border: 1px solid; */
    display: flex;
    /* grid-template-columns: minmax(0, 1fr) minmax(400px, 500px); */
    justify-content: center;
    /* margin-right: 20px; */
    /* margin-left: 20px; */
    overflow:hidden;
}

.priceForm{
    margin:30px;
    border-radius: 15px;
    font-family:  'Times New Roman', Times, serif;    
    background:linear-gradient(60deg,rgba(228, 121, 59, 0.883),rgba(233, 95, 31, 0.794),rgba(236, 172, 113, 0.938));
    box-shadow: 0 5px 15px rgba(0,0.5,10,.5);
    box-sizing: border-box;
    table-layout: fixed;
    border-collapse:separate;
   min-width: 300px;
   max-width:600px;
   height: 800px;
   /* margin-left: auto; */
   /* margin-right: auto; */
}
.mainprice th{
    float: right;
    font-size: 30px;
    color: rgb(160, 39, 39);
}
.mainprice th:hover{
    color: rgb(248, 243, 239);
}
.mainprice label{
    color: rgba(248, 246, 244, 0.945);
    font-size: 20px;
    font-weight: bold;
    margin: 20px;
}
.mainprice input:hover{
    background: linear-gradient(to right,rgba(195, 183, 176, 0.37),rgba(235, 216, 213, 0.315));
    color: rgb(7, 7, 7);
}

/* netprice */

.netprice{
    /* table-layout: fixed; */
    border-radius: 15px;
    font-family:  'Times New Roman', Times, serif;    
    background:linear-gradient(60deg,rgba(228, 121, 59, 0.883),rgba(233, 95, 31, 0.794),rgba(236, 172, 113, 0.938));
    box-shadow: 0 5px 15px rgba(0,0.5,10,.5);
    box-sizing: border-box;
    /* display: none; */
    border-collapse:separate;
    width: 500px;
    height: 100px;
    margin: 30px;
    float: right;
    overflow:hidden;
}
.netprice td{
    color: rgba(248, 246, 244, 0.945);
    font-size: 20px;
    font-weight: bold;
}
.netprice p{
    color: rgba(248, 246, 244, 0.945);
    font-size: 20px;
}
